[data-qutebrowser-domain="chat.gigas.com"] .sidebar__header {
  --sidebar-default-padding: 7px;
}
[data-qutebrowser-domain="chat.gigas.com"] .rooms-list__type,
[data-qutebrowser-domain="chat.gigas.com"] .sidebar__footer {
    display: none;
}
[data-qutebrowser-domain="chat.gigas.com"] .rooms-list__list:not(:last-child) {
    margin-bottom: 0px;
}
[data-qutebrowser-domain="chat.gigas.com"] .sidebar--condensed {
    max-width: 208px;
}
[data-qutebrowser-domain="chat.gigas.com"] .rc-header--room {
    padding: 0;
}
[data-qutebrowser-domain="chat.gigas.com"] .fixed-title.announcement {
    display: none;
}