[theme]
theme = "dracula"
[theme.overrides]
separator = "<span font='12.5'></span>"

[icons]
icons = "material-nf"
[icons.overrides]
memory_swap = "󰾵"

# Separators: █
[[block]]
block = "focused_window"
driver = "sway_ipc"
[block.format]
full = " $marks$title.str(max_w:40,rot_interval:0.2,rot_separator:'║') |"
short = " $marks$title.str(max_w:20,rot_interval:0.2,rot_separator:'║') |"

[[block]]
block = "external_ip"
interval = 600
use_ipv4 = true
error_format = "$short_error_message.str(max_w:15,rot_interval:0.4,rot_separator:'║')|$full_error_message.str(max_w:15,rot_interval:0.4,rot_separator:'║')"
error_interval = 1
format = "$ip.str(max_w:15,rot_interval:0.4,rot_separator:'║')"
[block.theme_overrides]
idle_bg = "#19FF70"
idle_fg = "#101010"

[[block]]
block = "net"
interval = 5
error_interval = 1
inactive_format = "$icon 󰲜"
missing_format = "󰲜"
# format = "$icon ^icon_net_down $speed_down.eng(3,B,K) ^icon_net_up $speed_up.eng(3,B,K) {$signal_strength $ssid |}$ip"
[block.format]
full = "$icon ^icon_net_down $graph_down.str(max_w:5) ^icon_net_up $graph_up.str(max_w:5) {$signal_strength $ssid.str(max_w:16,rot_interval:0.4,rot_separator:'║') |}$ip"
short = "$icon ^icon_net_down $graph_down.str(max_w:3) ^icon_net_up $graph_up.str(max_w:3) {$signal_strength $ssid.str(max_w:14,rot_interval:0.4,rot_separator:'║') |}$ip"
[[block.click]]
button = "left"
cmd = "dunstify -a i3status-rs \"Whats my ip?\" \"Public ip: $(dig +short myip.opendns.com @resolver1.opendns.com)\""
[block.theme_overrides]
idle_bg = "#2AF598"
idle_fg = "#101010"

[[block]]
block = "memory"
interval = 5
warning_mem = 80
critical_mem = 95
format = "$icon$mem_used.eng(w:1,u:B,prefix:Mi)/$mem_total.eng(w:1,u:B,prefix:Mi)"
[block.theme_overrides]
idle_bg = "#22E4AC"
idle_fg = "#101010"

[[block]]
block = "memory"
interval = 5
warning_swap = 80
critical_swap = 95
format = "$icon_swap$swap_used.eng(w:1,u:B,prefix:Mi)/$swap_total.eng(w:1,u:B,prefix:Mi)"
[block.theme_overrides]
idle_bg = "#1BD7BB"
idle_fg = "#101010"

[[block]]
block = "cpu"
interval = 1
format = "$icon$utilization.eng(w:2)"
[block.theme_overrides]
idle_bg = "#14C9CB"
idle_fg = "#101010"

[[block]]
block = "temperature"
interval = 10
format = "$icon{$min≤$average≤$max|}"
[block.theme_overrides]
idle_bg = "#0FB2D8"
idle_fg = "#101010"

[[block]]
block = "docker"
interval = 10
format = "$icon$running.eng(w:1)/$total.eng(w:1)\\|$images.eng(w:1)"
[block.theme_overrides]
idle_bg = "#089BE5"
idle_fg = "#101010"

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
interval = 20
warning = 20.0
alert = 10.0
format = "$icon$used.eng(w:2)/$total.eng(w:2)"
[[block.click]]
button = "left"
cmd = "thunar"
[[block.click]]
button = "right"
cmd = "media"
[block.theme_overrides]
idle_bg = "#0384F1"
idle_fg = "#101010"

[[block]]
block = "custom"
interval = 15
command = """lsblk -nro MOUNTPOINT,LABEL|sed -nE '/(^ | $|^$)/!{s/^[^ ]+ //;H};${g;s/^\\n//;s/\\n/|/g;s/\\\\x20/ /g;s/([a-zA-Z]{3})[a-zA-Z]+ */\\1…/g;p}'"""
format = "$text.str(max_w:25,rot_interval:0.4,rot_separator:'║')"
[[block.click]]
button = "left"
cmd = "unmedia"
[block.theme_overrides]
idle_bg = "#8A2BE2"
idle_fg = "#101010"

[[block]]
block = "sound"
error_format = "$short_error_message.str(max_w:15,rot_interval:0.4,rot_separator:'║')|$full_error_message.str(max_w:15,rot_interval:0.4,rot_separator:'║')"
error_interval = 1
format = "$icon{$volume.eng(w:2)|}"
[[block.click]]
button = "left"
cmd = "pavucontrol"

[[block]]
block = "time"
interval = 5
[block.format]
full = "$icon$timestamp.datetime(f:'%m\\%d %a %R', l:es_ES)"
short = "$icon$timestamp.datetime(f:'%m\\%d %w %R', l:es_ES)"
[[block.click]]
button = "left"
cmd = "LC_ALL=es_ES.utf8 gsimplecal"
[block.theme_overrides]
idle_bg = "#123456"
idle_fg = "#ABCDEF"

[[block]]
block = "custom"
interval = 10
command = """ps -do args|sed -nE "
s|^/bin/sh $HOME/bin/daemon-gigas-vpn\\$||;th;
s|^\\./target/release/remap.*|󰞙|;th;
s|^xss-lock.*|󰷛|;th;
bl;:h;H;:l;\\${g;s/\\n//g;p}"
"""
merge_with_next = true
format = "$text.pango-str()"

[[block]]
block = "battery"
interval = 10
driver = "upower"
format = "$icon$percentage $time"
